<% provide(:title, "Home") %>
<!-- from application.html.erb -->
<% if logged_in? %>
  <div class="row">
  <div class="col-md-4">
  </div>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="book_form">
        <%= render 'shared/book_form' %>
      </section> 
    </aside>
        <div class="col-md-4">
        </div> 
    <section>
      <h3 class="books">Books list</h3>
      <%= render 'books/index' %>
    </section>
  </div>
<% else %>
  <div class="center jumbotron">
  <h1>Welcome to the Book World !!!!!</h1>

  <h2>
    Please sign-up to explore the books
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>